* {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: medium;
    font-family: apple-system;
}

body {
    background-color: #f5effb;
    min-height: 100vh;
}

header {
    padding: 50px 20px;
    margin: 5px;
    box-shadow: 1px 2px rgba(5, 18, 17, 10);
    border-radius: 10px;
    background-color: rgb(210, 159, 240);
    text-align: center;
}

header > h1 {
    font-size: xx-large;
    font-weight: normal;
    font-family: apple-system;
}

header > small {
    font-size: medium;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#formContainer {
    padding: 20px 20px;
    margin: 20px;
    box-shadow: 1px 2px rgba(5, 18, 17, 10);
    border-radius: 20px;
    background-color: rgba(231, 168, 247, 0.87);
}

#formContainer > #studentForm > .input-fields > label {
    font-weight: lighter;
    font-size: x-large;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    width: 100%;
}

#formContainer > #studentForm > .input-fields > input {
    border: 2px solid rgba(235, 120, 241, 0.607);
    border-radius: 20px;
    padding: 10px 20px;
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
}

#formContainer > #studentForm > .input-fields {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#formContainer > #studentForm {
    text-align: center;
}

article {
    background-color: rgb(204, 122, 225);
}

.list-item {
    padding: 20px 20px;
    margin: 10px;
    box-shadow: 1px 2px rgba(5, 18, 17, 10);
    border-radius: 20px;
    background-color: rgba(227, 173, 241, 0.893);
    text-align: center;
}

.list-item > button {
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
    font-weight: lighter;
    cursor: pointer;
    background-color: rgb(125, 57, 181);
    color: white;
}

#formContainer > #studentForm :last-child > button {
    padding: 10px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 20px;
    font-weight: lighter;
    cursor: pointer;
    background-color: rgb(125, 57, 181);
    color: white;
}

#studentList {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

@media (max-width: 600px) {
    #studentList {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    #studentList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 901px) {
    #studentList {
        grid-template-columns: repeat(3, 1fr);
    }
}